# IDE data
.kdev4
*.kdev4
.vs
.vscode
.idea
/CMakeSettings.json

# Generated resources
src/platform/version.c
res/version.rc
res/version.txt
res/akhenaten.icns

# Build output and data directories
/build*/
out/
cmake-build-*
/data
/ext/SDL2/**
*~
*.swp
/android/.gradle
/android/.idea
/android/SDL2
/android/akhenaten/build
# Android
*.iml
.gradle
local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx/
distribution/
*.log

/wiki/*
/akhenaten-extra/*
/akhenaten.wiki/*
doc
/doc/*
*.ods#

*.lnk

# Tools
/tools/*
!/tools/*.zip
!/tools/*.7z

/bin_x64
/ext/include
/ext/lib/x64
/ext/lib/x86
